@media (pointer: coarse) {
    html {
        font-size: x-large;
        -moz-text-size-adjust: none;
        -webkit-text-size-adjust: none;
    }
}

@media (pointer: fine) {
    div.main {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}

a {
    color: black;
    text-decoration: none;
}

a.nav {
    background-color: lightgreen;
    padding: 0.5em;
    border-radius: 0.5em;
    border-style: solid;
    border-width: 1px;
    border-color: darkgray;
    color: black;
    text-decoration: none;
}

button {
    font-size: inherit;
}

input {
    font-size: inherit;
}

math {
    font-size: 110%;
}

code {
    font-size: 110%;
}

div.chapter {
    position: relative;
    background-color: lightblue;
    margin: 1em 0;
    padding: 1em 1em;
    border-radius: 1em;
    border-style: solid;
    border-width: 1px;
    border-color: darkgray;
}

div.progress {
    position: absolute;
    left:100%;
    margin-top: -1em;
    margin-left: -2em;
}

img.progressIcon {
    width: 1.5em;
    height: 1.5em;
}
div.lecture {
    background-color: lightblue;
    margin: 1em 0;
    padding: 1em;
    border-radius: 1em;
    border-style: solid;
    border-width: 1px;
    border-color: darkgray;
}

tr.result {
}

td.result-c1 {
    text-align: right;
    padding-bottom: 1em;
    padding-top: 1em;
}

td.result-c2 {
    text-align: left;
    padding-bottom: 1em;
    padding-top: 1em;
}

td.result-c1c {
    text-align: right;
    padding-bottom: 0.3em;
    padding-top: 0.3em;
}

td.result-c2c {
    text-align: left;
    padding-bottom: 0.3em;
    padding-top: 0.3em;
}

div.result {
    background-color: #ffc0c0;
    border-radius: 0.5em;
    border-style: solid;
    border-width: 1px;
    border-color: darkgray;
    padding: 0.5em;
}

div.correct {
    background-color: lightgreen;
    margin: 1em 0;
    padding: 0.2em;
    border-radius: 0.5em;
    border-style: solid;
    border-width: 1px;
    border-color: darkgray;
}

div.task {
    text-align: center;
    background-color: lightblue;
    margin: 1em 0;
    padding: 0.5em;
    border-radius: 0.5em;
    border-style: solid;
    border-width: 1px;
    border-color: darkgray;
}

div.input {
    margin-top: 1em;
    margin-bottom: 1em;
}

img.task {
    border-radius: 0.5em;
    border-style: solid;
    border-width: 1px;
    border-color: darkgray;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em;
    max-width: 100%;
    min-width: 30%;
    height: auto;
}
img.icon {
    position: absolute;
    margin-left: 1em;
    margin-top: -0.2em;
    border-style: none;
    width: 1.5em;
    max-width: 1.5em;
    min-width: 1.5em;
    height: 1.5em;
}

table.login {
    border-radius: 0.5em;
    border-style: solid;
    border-width: 1px;
    border-color: darkgray;
    margin-left: auto;
    margin-right: auto;
}

table.login td {
    padding: 0.5em;
}
