<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Administrationsseite</title>
  <link rel="icon" type="image/svg" href="/static/icon.svg">
  <link rel="stylesheet" type="text/css" href="/static/style.css"/>
</head>
<body>
  <div class="main">
  <h2>Administrationsseite</h2>

  <div class="lecture">
    <h3>Lektions-Zip Datei hochladen</h3>
    <form action="." method="post" enctype="multipart/form-data">
      <p>
        <label for="file">ZIP-Datei der Lektion</label><br/>
        <input name="file" type="file" size="50" accept="*.zip" />
      </p>
      <button type="submit">... upload</button>
    </form>
  </div>

  <div class="lecture">
    <h3>Statistik</h3>
    {{range .List}}
        <a class="nav" href="/statistics/?id={{.Id}}">{{.Title}}</a>
    {{end}}
  </div>

  <div class="lecture">
    <h3>Einstellungen</h3>
    {{range .List}}
        <a class="nav" href="/settings/{{.Id}}/">{{.Title}}</a>
    {{end}}
  </div>

  <p><a class="nav" href="/">← Home</a></p>

  </div>
</body>
</html>