<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>{{.Chapter.Title}}</title>
  <link rel="icon" type="image/svg" href="/static/icon.svg">
  <link rel="stylesheet" type="text/css" href="/static/style.css"/>
</head>
<body>

  <div class="main">

  <h2>{{.Chapter.FullTitle}}</h2>
  {{markdown .Chapter.Description .Chapter.Lecture.Id}}

  <h3>Fragen</h3>
  {{range .Chapter.Task}}
     {{$avail:=$.IsAvail .Num}}
     {{if $avail}}<a href="/task/{{$.Chapter.Lecture.Id}}/{{$.Chapter.Num}}/{{.Num}}/">{{end}}
         <div class="task" {{if not $avail}}style="color:gray"{{end}}>
             {{.Name}}
             {{if $.Completed .Num}}
                 <img class="icon" src="/static/completed.svg" />
             {{end}}
         </div>
     {{if $avail}}</a>{{end}}
  {{end}}

  <p>
     {{if .Chapter.ParentChapter}}
       <a class="nav" href="/chapter/{{.Chapter.Lecture.LID}}/{{.Chapter.ParentChapter.Num}}">← {{.Chapter.ParentChapter.Title}}</a>
     {{else}}
       <a class="nav" href="/lecture/{{.Chapter.Lecture.LID}}">← {{.Chapter.Lecture.Title}}</a>
     {{end}}
  </p>
</div>
</body>
</html>