<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>{{.Chapter.Title}}</title>
  <link rel="icon" type="image/svg" href="/assets/icon.svg">
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>

  <div class="main">

  <h2>{{.Chapter.Title}}</h2>
  {{markdown .Chapter.Description .Chapter.Lecture.Id}}

  <h3>Fragen</h3>
  {{range .Chapter.Task}}
     {{$avail:=$.IsAvail .Num}}
     {{if $avail}}<a href="/task/{{$.Chapter.Lecture.Id}}/{{$.Chapter.Num}}/{{.Num}}/">{{end}}
         <div class="task" {{if not $avail}}style="color:gray"{{end}}>
             {{.Name}}
             {{if $.Completed .Num}}
                 <img class="icon" src="/assets/completed.svg" />
             {{end}}
         </div>
     {{if $avail}}</a>{{end}}
  {{end}}

 <a class="nav" href="/lecture/{{.Chapter.Lecture.Id}}">Kapitelübersicht</a>
</div>
</body>
</html>