<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>{{.Name}}</title>
  <link rel="icon" type="image/svg" href="/assets/icon.svg">
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>

  <div class="main">

  <h2>{{.Name}}</h2>
  {{markdown .Description}}

  <h3>Aufgaben</h3>
  {{range .Task}}
     <a href="/task/?l={{.LID}}&c={{.CID}}&t={{.TID}}"><div class="task">{{.Name}}</div></a>
  {{end}}

 <a class="nav" href="/lecture/?l={{.LID}}">Zurück</a>
</div>
</body>
</html>