<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Fehler</title>
  <link rel="icon" type="image/svg" href="/assets/icon.svg">
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <div class="main">
    <h3>Es ist ein Fehler aufgetreten</h3>

    <table>
      <tr>
        <td><img style="height:5em" src="/assets/error.svg" /></td>
        <td>{{.}}</td>
      </tr>
    </table>

    <p><a class="nav" href="/">Übersicht</a></p>
  </div>
</body>
</html>