<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Fehler</title>
  <link rel="icon" type="image/svg" href="/static/icon.svg">
  <link rel="stylesheet" type="text/css" href="/static/style.css"/>
</head>
<body>
  <div class="main">
    <h3>Nanu??? Es ist ein Fehler aufgetreten!</h3>
    <table>
      <tr>
        <td rowspan="2" style="padding-right:2em"><img style="height:4.5em" src="/static/error.svg" /></td>
        <td>Die Fehlermeldung lautet:</td>
      </tr>
      <tr>
        <td style="font-weight:bold;">{{.}}</td>
      </tr>
    </table>
    <p><a class="nav" href="/">← Home</a></p>
  </div>
</body>
</html>