<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Logs</title>
  <link rel="icon" type="image/svg" href="/static/icon.svg">
  <link rel="stylesheet" type="text/css" href="/static/style.css"/>
  <style>
    td:nth-child(2) {
      text-align: right;
      padding-left: 1em;
    }
  </style>
</head>
<body>

  <div class="main">
  <h2>Logs</h2>
  <table>
  {{range .}}
    <tr><td><a href="/logs/?l={{.Name}}">{{.Name}}</a></td><td>{{.Size}}</td></tr>
  {{end}}
  </table>

  <p><a class="nav" href="/admin/">Zurück</a></p>
  </div>

</body>
</html>