<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Quiz</title>
  <link rel="icon" type="image/svg" href="/static/icon.svg">
  <link rel="stylesheet" type="text/css" href="/static/style.css"/>
  <script src="/static/main.js"></script>
</head>
<body>

  <div class="main">
  <h2>Vorlesungen</h2>
  {{range .Lectures.List}}
    {{if $.Visible .LID}}
      <div onclick="goto('/lecture/{{.LID}}')" class="lecture"{{if $.Hidden .LID}} style="color:gray;"{{end}}>
        <h2>{{.Title}}</h2>
        <p>{{markdown .Description .LID}}</p>
        <p style="font-size:80%;text-align:right;margin-bottom:-1em">{{.TaskCount}} Fragen</p>
        <!--p style="font-size:80%;text-align:right;margin-bottom:-1em">{{.Author}}</p-->
      </div>
    {{end}}
  {{end}}

  <p>
    {{if .Logout}}
    <a class="nav" href="/logout">Logout</a>
    {{end}}
    {{if .Admin}}
    <a class="nav" href="/admin">Administration</a>
    {{end}}
  </p>
  </div>

</body>
</html>