<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Quiz</title>
  <link rel="icon" type="image/svg" href="/assets/icon.svg">
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>

  <div class="main">
  <h2>Vorlesungen</h2>
  {{range .Lectures.List}}
    <a href="/lecture/{{.LID}}">
    <div class="lecture">
      <h2>{{.Title}}</h2>
      <p>{{markdown .Description .LID}}</p>
      <p style="font-size:80%;text-align:right;margin-bottom:-1em">{{.TaskCount}} Fragen</p>
      <!--p style="font-size:80%;text-align:right;margin-bottom:-1em">{{.Author}}</p-->
    </div>
    </a>
  {{end}}

  <p>
    <a class="nav" href="/logout">Logout</a>
    {{if .Admin}}
    <a class="nav" href="/admin">Administration</a>
    {{end}}
  </p>
  </div>

</body>
</html>