<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>{{.Title}}</title>
  <link rel="icon" type="image/svg" href="/static/icon.svg">
  <link rel="stylesheet" type="text/css" href="/static/style.css"/>
  <style>
    th {
      padding-top:1em;
      padding-bottom:1em;
    }
    td.num {
      text-align:right;
      padding-left:1em;
    }
  </style>
</head>
<body>
  <div class="main">
    <h2>{{.Title}}</h2>
    <table>
    {{range .Chapter}}
         <tr>
           <th colspan="2">{{.Title}}</th>
         </tr>
         {{range .Task}}
           <tr>
             <td>{{.Task}}</td>
             <td class="num">{{.Count}}</td>
           </tr>
         {{end}}
      {{end}}
    </table>
    <p><a class="nav" href="/admin">Zurück</a></p>
  </div>
</body>
</html>