<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>{{.Task.Name}}</title>
  <link rel="icon" type="image/svg" href="/assets/icon.svg">
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body {{if .HasResult}}onload="document.getElementById('submit').scrollIntoView();"{{end}}>
  <div class="main">
  <h2>{{.Task.Name}}</h2>
  {{markdown .Task.Question .Task.LID}}

  <form action="." method="post">
    <input type="hidden" name="l" value="{{.Task.LID}}">
    <input type="hidden" name="c" value="{{.Task.CID}}">
    <input type="hidden" name="t" value="{{.Task.TID}}">
    {{$m := .}}
    <table>
    {{range .Task.Input}}
      <tr>
        {{if .Type }}
          <td class="result-c1"><label for="input_{{.Id}}">{{markdown .Label $m.Task.LID}}</label></td>
          <td class="result-c2"><input type="text" name="input_{{.Id}}" id="input_{{.Id}}" value="{{$m.GetAnswer .Id}}"></td>
        {{else}}
          <td class="result-c1c"><input type="checkbox" name="input_{{.Id}}" id="input_{{.Id}}" {{if $m.GetAnswer .Id}}checked{{end}}></td>
          <td class="result-c2c"><label for="input_{{.Id}}">{{markdown .Label $m.Task.LID}}</label></td>
        {{end}}
      </tr>
        {{if $m.GetResult .Id}}
        <tr class="result"><td colspan="2" class="result"><div class="result">{{markdown ($m.GetResult .Id) $m.Task.LID}}</div></td></tr>
        {{end}}
    {{end}}
    </table>
    {{if .GetResult "_task_"}}
    <div class="result">{{markdown (.GetResult "_task_") .Task.LID}}</div>
    {{end}}
    {{if .Ok}}
    <div class="correct">Richtig!</div>
    {{end}}
    <p>
    <input id="submit" type="submit" value="Prüfen">
    {{if .ShowResultButton}}
    <input type="submit" value="Lösung" name="showResult">
    {{end}}
    </p>
  </form>
  <p style="margin-top:2em;">
  <a class="nav" href="/chapter/?l={{.Task.LID}}&c={{.Task.CID}}">Zurück</a>
  {{if .Next}}
  <a class="nav" href="{{.Next}}">Weiter</a>
  {{end}}
  </p>
</div>
</body>
</html>